* {
	font-family:"Bedrock", "Microsoft YaHei", sans-serif;
	background-color: #EEEEEE;
}

/* header */

.nav, .nav * {
	background-color: white;	
}

#onlyItem {
	width: 50%;
}

#navText {
	padding: 15px;
	color: #888888;
	text-align: center;
}

#blueLine {
	height: 3px;
	margin: 0 4px 0 4px;
	background-color: #4389D0;
}

/* main content */

#main-content {
	margin-top: 80px;
}

.partContent {
	background-color: white;
}

#headline {
	background-color: white;
	font-weight: 600;
	margin: 15px 15px 0 15px;
}

#logo {
	width: 30px;
}

#headlineText {
	background-color: white;
	font-size: 0.7em;
}

.part .partTitle {
	color: #666666;
	font-weight: 500;
	font-size: 0.9em;
	padding: 10px;

}

#time {
	font-weight: 600;
	padding: 10px;
	color: #333333;
}

#photoImg {
	width: 150px;
	background-color: white;
	display: block;
	margin: auto;
	padding: 15px 0 15px;
}

#QRcodeImg {
	width: 100px;
	background-color: white;
	display: block;
	margin: auto;
	padding: 15px 0 15px;
}

#detail {
	font-weight: bold;
	padding: 10px;
	margin-bottom: 60px;
}

/* footer */

#footer {
	background-color: white;
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0;
}